.pizza-info {
    padding: 20px;
    margin-top: 20px;
}

.pizza-imagen {
    margin-top: 35px;
}

h1 {
    padding: 10px;
}

p {
    padding: 5px;
}

@media (max-width:500px) {
    .titulo-menu .menu-productos .contenedor-principal .pizza-imagen {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    img {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}